[Desktop Entry]
Name=Baz
Comment=Browse the web
Exec=/opt/baz/Baz %u
Terminal=false
Type=Application
Icon=baz
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
